:root {
  font-family: Inter, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --pad: max(26px, 4vmin);
  --bg-dark-color: #19191b;
  --bg-light-color: #ebebeb;
  --offwhite: rgba(255, 255, 255, 0.95);
}
